<%- include('./header') %>
<p>Creating Customers Page</p>
<!-- name, email, phone, company, address, status -->
<%- include('../partials/form-errors') %>
    
<form action="/customer/create" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  
  <div class="form-group">
    <label for="name">Customer Name</label>
    <input 
      type="name" 
      id="name" 
      name="name" 
      value="<%= typeof formData !== 'undefined' ? formData.username || '' : '' %>"
      placeholder="Choose a username (3-20 characters)"
      required
    >
  </div>
  
  <div class="form-group">
    <label for="email">Customer Email Address</label>
    <input 
      type="email" 
      id="email" 
      name="email"
      value="<%= typeof formData !== 'undefined' ? formData.email || '' : '' %>"
      placeholder="Enter your email address"
      required
    >
  </div>
  
  <div class="form-group">
    <label for="phone">Customer Phone Number</label>
    <input 
      type="phone" 
      id="phone" 
      name="phone"
      placeholder="Enter your phone number"
      required
    >
  </div>
  
  <div class="form-group">
    <label for="company">Customer Company</label>
    <input 
      type="company" 
      id="company" 
      name="company"
      placeholder="Enter company name"
      required
    >
  </div>
  
  <div class="form-group">
    <label for="address">Company Address</label>
    <input 
      type="address" 
      id="address" 
      name="address"
      placeholder="Enter location of company"
      required
    >
  </div>

  <div class="form-group">
    <label for="status">Customer Status</label>
    <input 
      type="status" 
      id="status" 
      name="status"
      placeholder="Enter your status within the company"
      required
    >
  </div>

  <div class="form-actions">
    <button type="submit" class="btn primary-btn">Register</button>
  </div>
</form>
<%- include('../partials/footer') %>