<%- include('./header') %>
    <div>
        <p>Customer Details Page</p>
        <p>Name: <%=customer.name%></p>
        <p>Status: <%=customer.email%></p>
        <p>Phone Number: <%=customer.phone%></p>
        <p>Company Name: <%=customer.company%></p>
        <p>Company Location: <%=customer.address%></p>
        <p>Status: <%=customer.status%></p>
    </div>

<%- include('../partials/footer') %>