<%- include('./header') %>
<h1><%= title %></h1>
<%- include('../partials/flash-message') %>
<div class = "container mt-4">
    <!-- 10 customers/ page limit, starts from very first item -->
    <p>Customers Display Here</p>
        <ul style="list-style: none">
            <% customers.forEach(customer => { %>
                <li><%= customer.name %></li>
            <% }); %>
        </ul>
    </div>
<%- include('../partials/footer') %>